[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-json-logger = "==0.1.9"
pyyaml = "*"
coloredlogs = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
